.carousel{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    width:500px;
    height:300px;

}
.slide{
    border-radius: 0.5rem;
    width:100%;
    height:100%;
}

.slide-hidden {
    display: none;
  }